button {
    background-color: #ef6623;
    color: white;
    padding: 7px;
    border-radius: 2px;
    outline: none;
    border: none;
}

button a{
    text-decoration: none;
    color: white;
}

#section{
    margin-bottom: 65px;
}
.checkout{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
}